.section {
    padding: 5em 0;

    &__sub-heading {
        color: #b7b4b4;
    }
}

@media (min-width: '992px') {
    .section { 
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 0;
        height: 100vh;

        &__content {
            flex: 1;
        }
    }
}