.header {
    &__menu-btn {
        background: none; 
        border: none;
        color: #fff;
    }
    &__nav-container {
        display:  none;
    }
    &__nav-item {
        color: #fff; 
    }
}