.header {
    padding-top: 30px;

    &__menu-btn {
        background: none; 
        border: none;
        color: #fff;
    }
    &__nav-container {
        display:  none;
    }
    &__nav-item {
        color: #fff; 
    }

    @media (min-width: '992px') {
        &__menu-btn {
            display: none;
        }
        &__nav-container {
            display: inline-flex;
        }
    }
}