@import './scss/styles.scss';

@font-face {
    font-family: 'bebas-neue';
    src: url('/fonts/BebasNeue-Regular.ttf');
}

body {
    background-color: $primary-color;
}

* {
    font-family: 'bebas-neue';
    color: #fff;
}