.home {
    .section {
        text-align: center;
    }

    @media (min-width: '992px') {
        .banner {
            .section {
                &__content {
                    margin-top: -200px;
                }
            }
            
        }
        .section { 
            display: flex;
            align-items: center;
            justify-content: center;

            padding: 0;
            height: 100vh;

            &__content {
                flex: 1;
            }
        }
    }
}
